<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flowliner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F7A33FB1BBC6543003DE8D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F7A34121BBC6544003DE8D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F7A341D1BBC6544003DE8D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
